<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      {{crew.title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{crew.title}}</ion-card-title>
    </ion-card-header>
    <img alt="Crew Image" [src]="crew.image" />
    <ion-card-content>
      <ion-text>
        {{crew.extendedDescription}}
      </ion-text>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="two-row-text">
              <span class="text-title">{{crew.location}}</span>
              <span class="subtitle">Location</span>
            </div>
          </ion-col>
          <ion-col>
            <div class="two-row-text">
              <span class="text-title">{{crew.pax}}</span>
              <span class="subtitle">Pax</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col class="price-text">RM{{crew.price}}</ion-col>
        </ion-row>
      </ion-grid>
      <ion-button expand='full' *ngIf="isCrewInCart(crew)" (click)="removeCrewFromCart(crew)">Remove from Cart</ion-button>
      <ion-button expand='full' *ngIf="!isCrewInCart(crew)" (click)="addCrewToCart(crew)">Add to Cart</ion-button>
      <ion-button expand="full" (click)="dismiss()">Close</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
