.two-row-text {
  line-height: 1.2; /* Adjust the line height as needed */
  margin-top: 30px;
}

.two-row-text span {
  display: block;
  margin-bottom: 4px; /* Adjust the margin as needed */
  text-align: center;
}

.subtitle {
  font-size: 12px; /* Adjust the font size as needed */
}

.text-title {
font-size: 18px; /* Adjust the font size as needed */
color: rgb(0, 110, 161); /* Default text color for light mode */
font-weight: bold;
}

@media (prefers-color-scheme: dark) {
.text-title {
  color: #ffffff; /* Custom text color for dark mode */
}
}

.price-text {
  text-align: center;
  font-size: 20px;
}



