<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      {{event.title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{event.title}}</ion-card-title>
    </ion-card-header>
    <img alt="Card Image" [src]="event.image" />
    <ion-card-content>
      <ion-text>
        {{event.extendedDescription}}
      </ion-text>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="two-row-text">
              <span class="text-title">{{event.location}}</span>
              <span class="subtitle">Location</span>
            </div>
          </ion-col>
          <ion-col>
            <div class="two-row-text">
              <span class="text-title">{{event.pax}}</span>
              <span class="subtitle">Pax</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col class="price-text">RM{{event.price}}</ion-col>
        </ion-row>
      </ion-grid>
      <ion-button expand="full" (click)="check(event)">Check</ion-button>
      <ion-button expand="full" (click)="onBook(event)" [disabled]="isEventInCart">Book</ion-button>
      <ion-button expand="full" (click)="dismiss()">Close</ion-button>
      <ion-content>
      </ion-content>
    </ion-card-content>
  </ion-card>
</ion-content>
